In Python specifically,

 strings are a sequence of Unicode Characters
 
    • Creating Strings

    • Accessing Strings

    • Adding Chars to Strings

    • Editing Strings

    • Deleting Strings

    • Operations on Strings

    • String Functions

In [ ]:
# unicode vs ASCII
""" 
unicode is 16bit
ASCII is 8 bit
"""

### Creating Strings

In [ ]:
s = 'Hello'
s = "Hello"
s = """Hello""" #multi sring
s = str('Hello') #type conversion

"""
why thr is '' & "" format in python?
to handel this senoriou : var = "It's running outside"
"""

### Accessing Strings

In [4]:
# Positive Indexing 
s = 'hello world'

s[2]

'l'

In [6]:
# Negative Indexing 
s = 'hello world'
s[-11]

'h'

In [14]:
# Slicing
s = 'hello world'

print(s[0:5])

print(s[6:])

print(s[:5])

print(s[0:6:2])

print(s[6:0:-1])

hello
world
hello
hlo
w olle

In [16]:
# famous code snippet
# reverse string 
s = 'hello world'

print(s[::-1])

dlrow olleh

In [2]:
# handing slicing with nagetive index
# hint in nagetive slicing first number shd be greater then second

s = 'hello world'

print(s[-5:])

print(s[-1:-6:-1])

world
dlrow

 ###    Editing Strings  and Deleting Strings

In [23]:
s = 'hello world'

s[0] = 'H'

# Python string are immutable

TypeError: 'str' object does not support item assignment

In [24]:
# Deleting string

s = 'hello world'
del s
print(s)

NameError: name 's' is not defined

In [3]:
# ans this question what wil be output
s = 'hello world'
del s[0:6]

TypeError: 'str' object does not support item deletion

 ### Operations on Strings

    • Arithmetic Operations
    
    • Relational Operations
    
    • Logical Operations
    
    • Loops on Strings
    
    • Membership Operations

#### Arithmetic Operations

In [26]:
# string concatination
print('Royal'+'Challenger'+'Benguluro')

RoyalChallengerBenguluro

In [27]:
# multiplication op
print('*'*50)

**************************************************

### Relational Operations

In [28]:
'delhi' == 'mumbai'

False

In [29]:
'delhi' != 'mumbai'

True

In [ ]:
'delhi' > 'mumbai'
# lexiographically as per dictionary d come first & m come last so last come has higher value

False

In [ ]:
'Pune' > 'pune'
# why false bcz ASCII value of capital value has less value, then small alphabet

False

In [ ]:
'' and 'world'
# In python, empty string('') is consinder as flase 
# and with string it's True

''

In [37]:
'' or 'world'

'world'

In [ ]:
'Hello' and 'World'
#

'World'

In [35]:
'Hello' or 'World'

'Hello'

In [38]:
not ''

True

In [39]:
not 'hello'

False

#### Loops on Strings

In [40]:
for i in 'hello':
    print(i)

h
e
l
l
o

In [41]:
for i in 'delhi':
    print('pune')

pune
pune
pune
pune
pune

In [42]:
'd' in 'delhli'

True

In [43]:
'd' not in 'india'

False