In [ ]:
CTC = int(input('enter CTC: '))

if (CTC > 500000):
    TAX = None
elif(CTC >= 500000 and CTC < 1000000):
    TAX = 0.10
elif(CTC >= 1000000 and CTC < 2000000):
    TAX = 0.20
else:
    TAX = 0.30


HRA = 0.10
DA  = 0.5
PF  = 0.3


CTC = CTC - (CTC * HRA)
CTC = CTC - (CTC * DA)
CTC = CTC - (CTC * PF)
CTC = CTC - (CTC * TAX)

CTC

141750.0

In [26]:
print('I am calculating your in hand salary after deduction from CTC.')
print('for this enter your salary in lakhs as 5 50000')

CTC = int(input('enter CTC: '))

# for all salary range the HRA DA PF will dedected as same.
without_tax = CTC - ((CTC*18)/100)

a = without_tax

if a < 5:
    print('your salary is:',a, 'after dedection of HRA, DH and PF but you not eligible to pay income tax')
elif a > 5 and a < 10:
    new_salary = a - ((a*10)/100)
    print('your salary is:',new_salary,'after dedection of HRA, DH , PF and income tax')
elif a > 10 and a <20:
    new_salary = a - ((a*20)/100)
    print('your salary is:',new_salary,'after dedection of HRA, DH , PF and income tax')
else:
    new_salary = a - ((a*30)/100)
    print('your salary is:',new_salary,'after dedection of HRA, DH , PF and income tax')

I am calculating your in hand salary after deduction from CTC.
for this enter your salary in lakhs as 5 50000
your salary is: 17.220000000000002 after dedection of HRA, DH , PF and income tax

In [27]:
angel1 = int(input('enter value angel 1'))
angel2 = int(input('enter value angel 2'))
angel3 = int(input('enter value angel 3'))

total_agle = angel1 + angel2 + angel3

if total_agle == 180:
    print('Its a valid triangle')
else:
    print('Its a not valid triangle')

Its a not valid triangle

In [29]:
cost = int(input('enter cost'))
selling = int(input('enter selling price'))

# 7
if cost < selling : 
    print('Profit')
elif(cost == selling):
    print('Nor profit or loss')
else:
    print('Loss')

# 10

Loss

In [35]:
# menu for conveting
menu = input(""" 
Hi how can i help you!
1. enter 1 for cm to fit.
2. enter 2 for km to miles.
3. enter 3 for USD to INR.
4. enter 4 for exit.
""")

if menu == '1':
    cm = int(input('enter your height in cm: '))
    fit = cm * 0.0328

    print('your height in fit is',fit)
elif menu == '2':
    km = int(input('enter KM: '))
    miles = km * 0.6

    print('KM after Conveting  in miles',miles)
elif menu == '3':
    USD = int(input('enter USD: '))
    INR = USD * 85

    print('USD after Conveting  in INR',INR)
else:
    print('exit')

exit

In [39]:
# til wc term we want to print
x = 10

# initial
fib1 = 0
fib2 = 1

for i in range(3,x+1):
    next_fib = fib1 + fib2

    # update value
    fib1 = fib2
    fib2 = next_fib
    
    print(next_fib)

1
2
3
5
8
13
21
34