## Python-tuple-sets-dictionary

###  Tuples

A tuple in Python is similar to a list. The difference between the two is that we cannot change the
elements of a tuple once it is assigned whereas we can change the elements of a list.
In short, a tuple is an immutable list. A tuple can not be changed in any way once it is created.

Characterstics
- Ordered
- Unchangeble
- Allows duplicate

Plan of attack
- Creating a Tuple
- Accessing items
- Editing items
- Adding items
- Deleting items
- Operations on Tuples
- Tuple Functions

### Creating Tuples

In [6]:
# empty 
t1 = ()
print(t1)

# create a tuple with a single item
t2 = (1)
print(t2)
print(type(t2)) 
""" why it's int bcz it not correct syntax we shd add , (comma) after an element then it will become tuple """

t2 = (1,)
print(t2)
print(type(t2))

()
1
<class 'int'>
(1,)
<class 'tuple'>

In [8]:
# homo tuple
t3 = (1,2,3,4,5)
print(t3)

# hetro tuple
t4 = (1,2.5,True,'hello',[1,3,4])
print(t4)

(1, 2, 3, 4, 5)
(1, 2.5, True, 'hello', [1, 3, 4])

In [11]:
# 2d tuple 
t5 = (1,2,3,(6,7))
print(t5)

# using type conversation
t6 = tuple('hello')
print(t6)

(1, 2, 3, (6, 7))
('h', 'e', 'l', 'l', 'o')

### Accessing Items
- indexing
- Slicing

In [ ]:
print(t3)

#positive  indexing 
print(t3[0])

#Negative indexing 
print(t3[-1])

(1, 2, 3, 4, 5)
1
5

In [21]:
# positive slicing
t3[0:5:2]

# Negative slicing
t3[-5:-2]

(1, 2, 3)

In [22]:
# reverse tuple
t3[::-1]

(5, 4, 3, 2, 1)

In [36]:
t = (1,2,3,4,5)

""" how to print (5,4,3) in reverse format"""
t[-1:-4:-1]

(5, 4, 3)

In [ ]:
# accessing 2d tuple
print(t5)

t5[3][0]

(1, 2, 3, (6, 7))

6

###  Editing items

In [ ]:
print(t3)

t3[0] = 100
# immutable just like string

(1, 2, 3, 4, 5)

TypeError: 'tuple' object does not support item assignment

### Adding items

In [ ]:
print(t3)

# not possible immutable

### Deleting items

In [ ]:
print(t3)
del t3

print(t3)

NameError: name 't3' is not defined

In [35]:
print(t5)

del t5[-1]

(1, 2, 3, (6, 7))

TypeError: 'tuple' object doesn't support item deletion

###  OperationsonTuples
- add (+)
- membership
- iteration

In [ ]:
# adding tuple
t1 = (1,2,3,4,5)
t2 = (5,6,7,8,9)

t1 + t2

(1, 2, 3, 4, 5, 5, 6, 7, 8, 9)

In [38]:
# membership in tuple
1 in t1

True

In [40]:
# iteration
for i in t1:
    print(i)

1
2
3
4
5

### TupleFunctions

In [ ]:
# len/sum/min/max/sorted
t = (1,2,3,4,5)

print(len(t))

print(sum(t))

print(max(t))

print(min(t))

print(sorted(t))

print(sorted(t,reverse=True))

5
15
5
1
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [52]:
# Count
t = (1,2,3,4,5) 
t.count(5)

1

In [53]:
# index
t.index(1)

0

## Difference between Lists and Tuples

- Syntax
- Mutability
- Speed (immutable data type are faster)
- Memory
- Built in functionality
- Error prone
- Usability

In [2]:
# code that prove tuple speed faster than list

import time

L = list(range(100000000))
T = tuple(range(100000000))

start = time.time()
for i in L:
    i *5
print('List Time',time.time()-start)


start = time.time()
for i in T:
    i *5
print('Tuple Time',time.time()-start)

List Time 19.020235776901245
Tuple Time 22.458508014678955

In [3]:
# code to prove tuple take less memory then list

import sys
L = list(range(1000))
T = tuple(range(1000))

print('List size',sys.getsizeof(L))
print('Tuple size',sys.getsizeof(T))

List size 8056
Tuple size 8040

In [ ]:
# tuple Error prone then list

a = [1,2,3]
b = a

a.append(4)

print(a)
print(b)
"""
see we change in a list ,it's also chnage in b so bignner coder get confuse in this step
"""

[1, 2, 3, 4]
[1, 2, 3, 4]

In [7]:
a = (1,2,3)
b = a

a = a + (4,)

print(a)
print(b)

(1, 2, 3, 4)
(1, 2, 3)

## Why use tuple?

Example:
Your working in college website & your brother took addmssion in same colllege.
Now your brother got diff branch Eletronic but he wanted CS,
So your brother request to updates result from Eletronic to CS

If the result system was built using List you can update the result but it's Tuple you cn't help your brother

soo when there is read only system use tuple , user interaction system like insta use list.

## Special Syntax

In [10]:
# tuple unpacking
a,b,c = (1,2,3)
print(a)
print(b)
print(c)

1
2
3

In [11]:
a,b = (1,2,3)

ValueError: too many values to unpack (expected 2)

In [ ]:
# upacking syntax for swaping very usefull just 3 line code
a = 1
b = 2

a,b = b,a

print(a)
print(b)

2
1

In [ ]:
# you just need starting first 2 items then use syntax
a,b,*others = (1,2,3,4,5)

print(a)
print(b)

print(others)

1
2
[3, 4, 5]

## Ziping tuples

In [17]:
a = (1,2,3,4)
b = (5,6,7,8)

zip(a,b) #zip object

tuple(zip(a,b))

((1, 5), (2, 6), (3, 7), (4, 8))