# Sets

A set is an unordered collection of items. Every set element is unique (no duplicates) and must be
immutable (cannot be changed).

However, a set itself is mutable. 

We can add or remove items from it.
Sets can also be used to perform mathematical set operations like union, intersection, symmetric
difference, etc

## Characterstics

- Unordered
- Mutable
- No Duplicates
- Can’t contain mutable data types

### Creating Sets

In [7]:
# empty set
s = {}
print(s)
print(type(s)) #python is saying its dictoinary so correct syntax is :

s = set()

print(s)
print(type(s))

{}
<class 'dict'>
set()
<class 'set'>

In [12]:
# 1d set
s1 = {1,2,3,1}
print(s1)

{1, 2, 3}

In [11]:
# 2d set
s2 = {1,2,3,{1,2}} 
"""Can’t contain mutable data types"""

TypeError: unhashable type: 'set'

In [17]:
# hetro set 
s3 = {1,4.5,'hello',True,(1,2)}
s3 
# the order of data type is depend on hashing algo , so sets are unordered
# hashing control the index position.

{(1, 2), 1, 4.5, 'hello'}

In [19]:
# using type conversion
s4 = set([1,2,3])
s4

{1, 2, 3}

In [20]:
# duplicates are not allowed
s5 = {1,2,4,1,3,2,1}
s5

{1, 2, 3, 4}

In [21]:
# set's can't have mutable items
s = {1,2,3,[1,2]}
""" Can’t contain mutable data types"""

TypeError: unhashable type: 'list'

In [ ]:
#question
s1 = {1,2,3}
s2 = {3,2,1}

print(s1 == s2)
"""order is not matter only data type shd same"""

In [25]:
#question
s1 = {1,2,3}
s2 = {'hello',2,1}

print(s1 == s2)
"""order is not matter only type shd same & type is diff soo false"""

False

'order is not matter only type shd same'

## Accessing Items

In [26]:
s1 = {1,2,3,4,5}
s1[1]
"""since sets are in not ordered you cn't access by indexing & slicing."""

TypeError: 'set' object is not subscriptable

##  Editing Items

In [27]:
s1 = {1,2,3,4}

s1[0] = 100

TypeError: 'set' object does not support item assignment

##  Adding Items

In [30]:
s1 = {1,2,3,4}

#add fun one item in set
s1.add(5) 
print(s1)

{1, 2, 3, 4, 5}

In [33]:
s1 = {1,2,3,4}

#update fun add multi item in set
s1.update([4,5,67,7])
s1

{1, 2, 3, 4, 5, 7, 67}

## Deleting Items

- del
- discard
- remove
- pop
- clear

In [39]:
# del
s = {1,2,3,4}

print(s)

del s
# del s1[0] not allowed
print(s)

{1, 2, 3, 4}

NameError: name 's' is not defined

In [40]:
# discard
s = {1,2,3,4}

s.discard(4)
s.discard(100) #if no. is not present no error wil show
s

{1, 2, 3}

In [43]:
# remove
s = {1,2,3,4}

s.remove(1)
print(s)

{2, 3, 4}

KeyError: 100

In [45]:
# remove
s = {1,2,3,4}

s.remove(100)
print(s)

KeyError: 100

In [ ]:
# pop
s = {1,2,3,4}

s.pop()
"""pop del item randomly"""

1

In [49]:
# clear
s = {1,2,3,4}

s.clear()
s

set()

## Set Operation
- Union(|)
- Intersection(&)
- Difference(-)
-  Symmetric Difference(^)
- Membership Test
- Iteration

In [50]:
# Union(|)
s1 = {1,2,3,4}
s2 = {5,6,7,8}

s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8}

In [53]:
# Intersection(&)
s1 = {1,2,3,4}
s2 = {5,3,7,1}

s1 & s2

{1, 3}

In [55]:
# Difference(-)
s1 = {1,2,3,4}
s2 = {5,3,7,1}

print(s1 - s2)

{2, 4}

In [56]:
# Difference(-)
s1 = {1,2,3,4}
s2 = {5,3,7,1}

print(s1 - s2)
print(s2 - s1)

{2, 4}
{5, 7}

In [57]:
#  Symmetric Difference(^)
s1 = {1,2,3,4}
s2 = {5,3,7,1}

s1 ^ s2

{2, 4, 5, 7}

In [58]:
# Membership Test
s = {1,2,3,4}
1 in s

True

In [59]:
# Iteration
s1 = {1,2,3,4}

for i in s1:
    print(i)

1
2
3
4

## Set Functions

In [61]:
# len/sum/min/max/sorted
s = {3,1,4,5,2,7}
len(s)
sum(s)
min(s)
max(s)
sorted(s)
sorted(s,reverse=True)

[7, 5, 4, 3, 2, 1]

In [ ]:
# union
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.union(s2)

In [65]:
# update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.update(s2)
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}

In [ ]:
# intersection
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s1.intersection(s2)

{4, 5}

In [69]:
# intersection_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.intersection_update(s2)
print(s1)
print(s2)

{4, 5}
{4, 5, 6, 7, 8}

In [ ]:
# difference/difference_update

In [ ]:
# symmetric_difference/symmetric_difference_update

In [ ]:
# isdisjoint/issubset/issuperset
s1 = {1,2,3,4}
s2 = {3,4,5,6}

s1.isdisjoint(s2)

False

In [71]:
s1 = {1,2,3,4,5}
s2 = {2,3}

s2.issubset(s1)

True

In [73]:
s1 = {1,2,3,4,5}
s2 = {2,3}

s1.issuperset(s2)

True

In [ ]:
# copy
s1 = {1,2,3}
s2 = s1.copy()

print(s1)
print(s2)

{1, 2, 3}
{1, 2, 3}

## Frozenset

 Frozen set is just an immutable version of a Python set object

In [76]:
# create fronzen set
fs = frozenset([1,2,3])
fs

frozenset({1, 2, 3})

In [77]:
fs1 = frozenset([1,2,3])
fs2 = frozenset([3,4,5])

fs1 | fs2

frozenset({1, 2, 3, 4, 5})

In [ ]:
# what works and what does not
# works-> all read functions
# does't work-> write operations

In [ ]:
# When to use

In [78]:
# 2D sets possible
fs = frozenset([1,2,frozenset([3,4])])
fs

frozenset({1, 2, frozenset({3, 4})})

## Set Comprehension

In [79]:
{i for i in range(1,11)}

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [81]:
{i for i in range(1,11) if i >5}

{6, 7, 8, 9, 10}

In [82]:
{i*i for i in range(1,11)}

{1, 4, 9, 16, 25, 36, 49, 64, 81, 100}